@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom colors */
:root {
  --baby: #b3e5fc;
  --fixr: #03a9f4;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-baby antialiased font-sans;
}
